/* resetting default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; /* removing the default padding */
}

/* styling the header */
#header {
  background-color: #333;
  color: #fff;
  padding: 20px; /* spacign inside header */
  text-align: center;
}

/* hoding the sidemenus and  main content */
#mainContainer {
  display: flex; /* Enables flexbox layout, allowing child elements */
}

/* Styles for both sidemenus */
aside {
  background-color: white; /* Light white background for the sidebars */
  color: black;
  padding: 20px;
  width: 20%; /* setting width of sidemenus to 20% of their parent container */
}

/* Styles for the main content area */
#mainContent {
  background-color: white;
  min-height: calc(
    100vh - 150px
  ); /* DONT CHANGE the 150px to account for the header and footer height */
  flex-grow: 1;
  padding: 20px;
}

/* Styles for story cards */
.story-card {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  align-items: center; /* Aligning items vertically */
  justify-content: space-between; /* space between the image and the description */
}

.story-image {
  max-width: 150px;
  margin-right: 20px;
}

.play-button {
  background-color: #090b78;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.play-button:hover {
  background-color: #090643;
}

#leftSidebar h2 {
  color: black;
}

/* Left Side Menu */
#leftSidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#leftSidebar ul li {
  padding: 8px 0; /* padding to each option easier to read */
}

#leftSidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
}

/* Hiding submenu */
.submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* displaying the submenu when hovering over parent */
.submenu-parent:hover .submenu {
  display: block;
}

/* styling submenu options */
.submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu a:hover {
  background-color: #f1f1f1;
}

/* Right Side Menu */
#rightSidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rightSidebar ul li {
  padding: 8px 0;
}

#rightSidebar ul li a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  /* Adjusts layout for screens narrower than 768px */
  #mainContainer {
    flex-direction: column;
  }

  aside {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* style for the search input and button */
input[type="search"],
button[type="submit"] {
  width: 100%;
  padding: 8px;
}

input[type="search"] {
  margin-top: 10px;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0c47a1;
}

/* Styles for the footer */
#footer {
  background-color: #333; /* Darker grey background for the footer */
  padding: 20px; /* Spacing inside the footer */
  text-align: center; /* Centers the text inside the footer */
  color: white;
}
