/* resetting default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styling the header */
#header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* hoding the sidemenus and  main content */
#mainContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: flex-start;
}

aside {
  background-color: white;
  color: black;
  padding: 20px;
  width: 20%;
}

#leftSidebar h2 {
  color: black;
}

/* Left Side Menu */
#leftSidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#leftSidebar ul li {
  padding: 8px 0;
}

#leftSidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
}

/* hiding the submenu */
.submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.submenu-parent:hover .submenu {
  display: block;
}

/* styling submenu  */
.submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu a:hover {
  background-color: #f1f1f1;
}

.submenu-parent:hover > a {
  background-color: #ddd;
}

#mainContent {
  background-color: white;
  flex-grow: 1;
  padding: 20px;
}

/* Image and text content */
#gameContent {
  flex-grow: 1; /* Make sure it takes the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

#storyContent {
  border: 2px solid black;
  padding: 15px;
  background-color: #f9f9f9;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

#readerChoices {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Button styles */
button[type="submit"],
#readerChoices button {
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 10px;
}

button[type="submit"]:hover,
#readerChoices button:hover {
  background-color: #0c47a1;
}

#readerChoices button {
  width: 150px;
  text-align: center;
}

/* Right Side Menu */
#rightSidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rightSidebar ul li {
  padding: 8px 0;
}

#rightSidebar ul li a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

/* Adjust the right sidebar to stick to the right */
#rightSidebar {
  margin-left: auto;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  #mainContainer {
    flex-direction: column;
  }

  aside {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Footer styles */
#footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
